server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - 'http://127.0.0.1:5500'
                allowedMethods:
                  - '*'
                allowedHeaders:
                  - '*'
          routes:
            - id: ws-chat
              uri: http://localhost:31073
              predicates:
                - Path=/ws-chat/**
              filters:
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

jwt:
  secret: IAMSOMEONE